* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #155EF1;
    color: white;
}

.wrapper {
            width: 90%;
}

.img {
        border-radius: 50%;
}


.text_wrapper {
    line-height: 1.5;
    text-align: left;
}

.button {
    background-color: white;
    color: #1B5FBB;
    padding: 10px 24px;
    text-decoration: none;
    border-radius: 16px;
    font-weight: bold;
}

